.text-decoration {
	text-decoration: line-through;
	text-decoration-color: #333333;
	color: #333333 !important;
}

.d-flex {
	display: flex;
	justify-content: center;
	color: red;
}

.t-capitalize {
    text-transform: capitalize;
}

.jc-left {
	justify-content: left;
}

.f-16 {
	font-size: 20px !important;
}

.test {
	color: white;
}