<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>webdemo</display-name>
  
  <welcome-file-list>
  	<welcome-file>view/client/index.jsp</welcome-file>
  </welcome-file-list>
  
  <!--Admin controller begin-->
  <servlet>
  	<servlet-name>Admin Home Servlet</servlet-name>
  	<servlet-class>webdemo.mvc.controllers.admin.AdminHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Admin Home Servlet</servlet-name>
  	<url-pattern>/admin/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Admin Login Servlet</servlet-name>
  	<servlet-class>webdemo.mvc.controllers.admin.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Admin Login Servlet</servlet-name>
  	<url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Admim Add Servlet</servlet-name>
  	<servlet-class>webdemo.mvc.controllers.admin.AdminAddController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Admim Add Servlet</servlet-name>
  	<url-pattern>/admin/admin/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Admim List Servlet</servlet-name>
  	<servlet-class>webdemo.mvc.controllers.admin.AdminListController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Admim List Servlet</servlet-name>
  	<url-pattern>/admin/admin/list</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Admim Delete Servlet</servlet-name>
  	<servlet-class>webdemo.mvc.controllers.admin.AdminDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Admim Delete Servlet</servlet-name>
  	<url-pattern>/admin/admin/delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Admim Update Servlet</servlet-name>
  	<servlet-class>webdemo.mvc.controllers.admin.AdminUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Admim Update Servlet</servlet-name>
  	<url-pattern>/admin/admin/edit</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>User List Servlet</servlet-name>
  <servlet-class>webdemo.mvc.controllers.admin.UserListController</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>User List Servlet</servlet-name>
  <url-pattern>/admin/user/list</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>User Delete Servlet</servlet-name>
  <servlet-class>webdemo.mvc.controllers.admin.UserDeleteController</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>User Delete Servlet</servlet-name>
  <url-pattern>/admin/user/delete</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>User Update Servlet</servlet-name>
  <servlet-class>webdemo.mvc.controllers.admin.UserUpdateController</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>User Update Servlet</servlet-name>
  <url-pattern>/admin/user/edit</url-pattern>
</servlet-mapping>
  <!--Admin controller end-->
  
  <!--Client controller begin-->
  <servlet>
  	<servlet-name>Home Servlet</servlet-name>
  	<servlet-class>webdemo.mvc.controllers.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Home Servlet</servlet-name>
  	<url-pattern></url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Shop servlet</servlet-name>
  	<servlet-class>webdemo.mvc.controllers.ShopController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Shop servlet</servlet-name>
  	<url-pattern>/shop</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Category servlet</servlet-name>
  	<servlet-class>webdemo.mvc.controllers.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Category servlet</servlet-name>
  	<url-pattern>/category</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Product servlet</servlet-name>
  	<servlet-class>webdemo.mvc.controllers.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Product servlet</servlet-name>
  	<url-pattern>/product</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Search servlet</servlet-name>
  	<servlet-class>webdemo.mvc.controllers.SearchPrController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Search servlet</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Login servlet</servlet-name>
  	<servlet-class>webdemo.mvc.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login servlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Register servlet</servlet-name>
  	<servlet-class>webdemo.mvc.controllers.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register servlet</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Logout servlet</servlet-name>
  	<servlet-class>webdemo.mvc.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Logout servlet</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>